<ng-container *ngIf="productList.lenght !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>sr.no</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th style="width: 200px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList; let i =index">
                            <td>{{i+1}}</td>
                            <td>{{product.title}}</td>
                            <td><img style="width: 120px;" src="{{product.image}}" alt=""></td>
                            <td>{{product.description}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.total}}</td>
                            
                            <td>
                                

                                <button  class="btn btn-danger"><fa-icon [icon]="icon"></fa-icon><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">EmptyCart</button></td>
                            <td><button routerLink="/" class="btn btn-primary">ShopMore</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Amount : ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
 
</ng-container>

<ng-container *ngIf="productList.lenght ==0">
    <h1>ERROR</h1>
</ng-container>