<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <img src="../assets/images/banner7.jpg" alt="Image 1" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="../assets/images/banner8.jpg" alt="Image 2" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="../assets/images/banner9.jpg" alt="Image 3" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <img src="../assets/images/banner7.jpg" alt="Image 4" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="../assets/images/banner8.jpg" alt="Image 5" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <img src="../assets/images/banner9.jpg" alt="Image 6" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
