
<div class="container ">
  
  <div class="row " >
    <ng-container *ngFor="let product of productList">
      <div  class="card col-md-3"style="width: 18rem;">
        <img [src]="product.image" [alt]="product.title" class="card-img-top" >
        <div class="card-body">
  
          <h5 class="card-title"><a [routerLink]="['/products', product.id]">{{ product.title }}</a></h5>
          <h5 class="card-title c-t"> ${{ product.price }}</h5>
          <p class="card-text">Category: {{ product.category }}</p>
          <button type="button" class="btn btn-outline-danger" (click)=addtocart(product)>add to cart</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>