<div class="container">
    <div class="row">
       <div class="col-md-6">
        <form class="form-group"[formGroup]="register" (ngSubmit)="send()">
            <div >
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div >
                <label for="username" class="form-label">Username</label>
                <input type="text" formControlName="username" class="form-control" id="Username" placeholder="Username">
            </div>
            <div >
                <label for="Name" class="form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" id="Name" placeholder="Name">
            </div>
          
            <div >
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div >
                <input type="submit" class="btn btn-success" >
            </div>
        </form> 
       </div>
    </div>
</div>